/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: #4CAF50;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.2em;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

form input[type="file"] {
    display: block;
    margin: 0 auto 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #45a049;
}

canvas {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    width: 90%; /* Menggunakan 90% dari lebar layar */
    height: 90vh; /* Menggunakan 90% dari tinggi layar */
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    form button {
        padding: 8px 16px;
    }
}
